<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vagrancy.study">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/study_theme"
        android:name=".common.base.BaseApplication">
        <activity android:name=".module.common.activity.MainActivity"
            android:theme="@style/common_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.knowledge.activity.KnowLedgeExamineActivity"/>
        <activity android:name=".module.knowledge.activity.KnowLedgeLookActivity"/>
        <activity android:name=".module.knowledge.activity.KnowLedgeUpdateActivity"/>
        <activity android:name=".module.knowledge.activity.KnowledgeTidyActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".module.knowledge.activity.KnowledgeInsertChildActivity"
            android:theme="@style/knowledge_class_dialog"/>
        <activity android:name=".module.knowledge.activity.KnowledgeMoveChildActivity"
            android:theme="@style/knowledge_class_dialog"/>
        <activity android:name=".module.knowledge.activity.KnowledgeAdvancedActivity"
            android:theme="@style/knowledge_class_dialog"/>
        <activity android:name=".module.knowledge.activity.KnowledgeMileageActivity"/>
    </application>
</manifest>